@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/orange";
@import "reset";

body {
  background-color: var(--color-bg-default);
}

.app {
  font: var(--font-m);
  background-color: var(--color-bg-default);
  min-height: 100vh;
  transition: all 0.3s ease;
}

.content-page {
  display: flex;
}

.page {
  flex: 1;
  padding: 20px;
}

.storybook-class {
  width: 30px;
  height: 30px;
}
