@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  transition: all 0.3s ease;
}

.content-page {
  display: flex;
}

.page {
  flex: 1;
  padding: 20px;
}
