.dot {
  display: block;
  background: var(--inverted-bg-color);
  border-radius: 50%;
  animation: loader-animation 1s infinite;
  animation-delay: 0.1s;

  &:nth-child(2) {
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    animation-delay: 0.3s;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

@keyframes loader-animation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
