.login-form {
  display: flex;
  flex-direction: column;
  min-width: 290px;

  .input-wrapper {
    .input {
      width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .title,
  .error {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .button {
    margin-right: auto;
  }

  &.story {
    max-width: 450px;
  }
}
