.text {
  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }

  &.center {
    text-align: center;
  }

  &.pointer {
    cursor: pointer;
  }

  &.underline {
    text-decoration: underline;
  }

  // display

  &.block {
    display: block;
  }

  &.inline-block {
    display: inline-block;
  }

  &.inline {
    display: inline;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  // variant
  &.primary {
    color: var(--color-typo-primary);
  }

  &.secondary {
    color: var(--color-typo-secondary);
  }

  &.brand {
    color: var(--color-typo-brand);
  }

  &.ghost {
    color: var(--color-typo-ghost);
  }

  &.link {
    color: var(--color-typo-link);

    &:hover {
      color: var(--color-typo-link-hover);
    }
  }

  &.system {
    color: var(--color-typo-system);
  }

  &.normal {
    color: var(--color-typo-normal);
  }

  &.success {
    color: var(--color-typo-success);
  }

  &.warning {
    color: var(--color-typo-warning);
  }

  &.alert {
    color: var(--color-typo-alert);
  }

  &.caution {
    color: var(--color-typo-caution);
  }

  &.critical {
    color: var(--color-typo-critical);
  }

  // line-height
  &.line-height {
    &.xs {
      line-height: var(--line-height-text-xs);
    }

    &.s {
      line-height: var(--line-height-text-s);
    }

    &.m {
      line-height: var(--line-height-text-m);
    }

    &.l {
      line-height: var(--line-height-text-l);
    }
  }

  &.font-size {
    &.xs {
      font-size: var(--size-text-xs);
    }

    &.s {
      font-size: var(--size-text-s);
    }

    &.m {
      font-size: var(--size-text-m);
    }

    &.l {
      font-size: var(--size-text-l);
    }

    &.xl {
      font-size: var(--size-text-xl);
    }

    &.f2xl {
      font-size: var(--size-text-2xl);
    }

    &.f3xl {
      font-size: var(--size-text-3xl);
    }

    &.f4xl {
      font-size: var(--size-text-4xl);
    }

    &.f5xl {
      font-size: var(--size-text-5xl);
    }

    &.f6xl {
      font-size: var(--size-text-6xl);
    }
  }
}
