.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.uppercase {
  text-transform: uppercase;
}

// variant
.primary {
  color: var(--color-typo-primary);
}

.secondary {
  color: var(--color-typo-secondary);
}

.brand {
  color: var(--color-typo-brand);
}

.ghost {
  color: var(--color-typo-ghost);
}

.link {
  color: var(--color-typo-link);

  &:hover {
    color: var(--color-typo-link-hover);
  }
}

.system {
  color: var(--color-typo-system);
}

.normal {
  color: var(--color-typo-normal);
}

.success {
  color: var(--color-typo-success);
}

.warning {
  color: var(--color-typo-warning);
}

.alert {
  color: var(--color-typo-alert);
}

.caution {
  color: var(--color-typo-caution);
}

.critical {
  color: var(--color-typo-critical);
}

.lhxs {
  line-height: var(--line-height-text-xs);
}

.lhs {
  line-height: var(--line-height-text-lhs);
}

.lhm {
  line-height: var(--line-height-text-lhm);
}

.lhl {
  line-height: var(--line-height-text-lhl);
}

.fxs {
  font-size: var(--size-text-fxs);
}

.fs {
  font-size: var(--size-text-fs);
}

.fm {
  font-size: var(--size-text-fm);
}

.fl {
  font-size: var(--size-text-fl);
}

.fxl {
  font-size: var(--size-text-fxl);
}

.f2xl {
  font-size: var(--size-text-f2xl);
}

.f3xl {
  font-size: var(--size-text-f3xl);
}

.f4xl {
  font-size: var(--size-text-f4xl);
}

.f5xl {
  font-size: var(--size-text-f5xl);
}

.f6xl {
  font-size: var(--size-text-f6xl);
}

.thin {
  font-weight: 100;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}
