.button {
  appearance: none;
  background: transparent;
  border: none;
  border-radius: var(--control-radius);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 0 8px;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 0.2s ease;
  white-space: nowrap;

  // variant
}

.primary {
  background-color: var(--color-control-bg-primary);
  color: var(--color-control-typo-primary);

  &.alert {
    background-color: var(--color-control-bg-alert);

    &:hover {
      background-color: var(--color-control-bg-alert-hover);
    }
  }

  &:hover {
    background-color: var(--color-control-bg-primary-hover);
  }
}

.clear {
  --color-hover: var(--color-control-typo-clear-hover);

  background-color: var(--color-control-bg-clear);
  color: var(--color-control-typo-clear);

  &:hover {
    background-color: var(--color-control-bg-clear-hover);
  }
}

.ghost {
  background-color: var(--color-control-bg-ghost);
  color: var(--color-control-typo-ghost);

  &:hover {
    background-color: var(--color-control-bg-ghost-hover);
  }
}

.secondary {
  background-color: var(--color-control-bg-secondary);
  border: var(--control-border-width) solid var(--color-control-bg-border-secondary);
  color: var(--color-control-typo-secondary);

  &.alert {
    border: var(--control-border-width) solid var(--color-control-bg-alert);
    color: var(--color-typo-alert);

    &:hover {
      border-color: var(--color-control-bg-alert-hover);
    }
  }

  &:hover {
    background-color: var(--color-control-bg-secondary-hover);
    border-color: var(--color-control-bg-border-secondary-hover);
  }
}

// width
.full {
  display: block;
  width: 100%;
}

.loading,
.disabled {
  background-color: var(--color-control-bg-disable);
  border-color: transparent;
  cursor: not-allowed;
  pointer-events: none;
}

.disabled {
  color: var(--color-control-typo-disable);
}

.loading {
  color: transparent;

  .dots-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .dot-loader {
      background-color: var(--color-control-bg-disable);
    }
  }
}
