.button {
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  transition: all 0.3s ease;

  &.background {
    background-color: var(--bg-color);
    color: var(--primary-color);
  }

  &.background-inverted {
    background-color: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
  }

  &.primary {
    cursor: pointer;
  }

  &.clear,
  &.clear-inverted {
    border: none;
    outline: none;
    background-color: transparent;
  }

  &.clear {
    color: var(--primary-color);

    &:hover {
      background-color: var(--color-control-bg-clear-hover);
    }
  }

  &.clear-inverted {
    color: var(--inverted-primary-color);

    &:hover {
      background-color: var(--color-control-bg-clear-inverted-hover);
    }
  }

  &.small {
    font: var(--font-s);
  }

  &.medium {
    font: var(--font-m);
  }

  &.large {
    font: var(--font-l);
  }

  &.x-large {
    font: var(--font-xl);
  }

  &.square {
    &.small {
      width: var(--button-size-s);
      height: var(--button-size-s);
      font: var(--font-s);
    }

    &.medium {
      width: var(--button-size-m);
      height: var(--button-size-m);
      font: var(--font-m);
    }

    &.large {
      width: var(--button-size-l);
      height: var(--button-size-l);
      font: var(--font-l);
    }

    &.x-large {
      width: var(--button-size-xl);
      height: var(--button-size-xl);
      font: var(--font-xl);
    }
  }

  &.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
