.avatar {
  overflow: hidden;
  width: var(--avatar-size);
  height: var(--avatar-size);
  color: #fff;
  background:
    linear-gradient(rgb(255 255 255 / 24%), rgb(255 255 255 / 0%)),
    linear-gradient(var(--avatar-color), var(--avatar-color), var(--avatar-color));
  font-size: var(--avatar-font-size);
  font-weight: var(--font-weight-text-semibold);
  line-height: var(--avatar-size);
  text-align: center;
  filter: grayscale(0%);
  display: flex;
  align-items: center;
  justify-content: center;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.xs {
  --avatar-size: 20px;
  --avatar-font-size: 10px;
}

.s {
  --avatar-size: 24px;
  --avatar-font-size: 12px;
}

.m {
  --avatar-size: 32px;
  --avatar-font-size: 14px;
}

.l {
  --avatar-size: 40px;
  --avatar-font-size: 16px;
}

.round {
  border-radius: 50%;
}

.brick {
  border-radius: 0;
}

.default {
  border-radius: var(--control-radius);
}
