.sidebar {
  position: relative;
  padding: 15px;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background-color: var(--color-bg-default);
  border-right: 1px solid var(--color-bg-border);
  transition: width 0.3s ease;

  .items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }

  &.collapsed {
    width: var(--sidebar-collapsed-width);

    .items {
      align-items: center;
    }
  }

  .collapsed-btn {
    position: absolute;
    right: -33px;
    bottom: 30px;
    border-radius: 0 8px 8px 0;

    .reverse {
      transform: rotate(-180deg);
    }
  }
}
