.sidebar {
    position: relative;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background: var(--inverted-bg-color);
    transition: all .3s ease;

    &.collapsed {
        width: var(--sidebar-collapsed-width);
    }

}