.navlink {
  display: inline-block;
  position: relative;
  color: var(--color-typo-primary);
  transition: width 0.2s ease;

  &::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 0;
    height: 2px;
    border-right: 5px;
    background-color: var(--color-typo-primary);
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }

  &.active::after {
    width: 100%;
  }
}
