.input-wrapper {
  border-radius: 8px;

  .input {
    padding: 10px;
    min-height: 25px;
    border-radius: 8px;
    background-color: var(--color-bg-default);
    color: var(--color-typo-primary);

    &.readonly {
      opacity: 0.7;
    }
  }
}
