.app.dark {
    --bg-color: #262626;
    --inverted-bg-color: #f5f5f5;
    --primary-color: #F3F6F9;
    --secondary-color: #ebecef;
    --inverted-primary-color: #030303;
    --inverted-secondary-color: #212121;
}
