html[data-theme="light"] {
  --bg-color: #f5f5f5;
  --inverted-bg-color: #262626;
  --primary-color: #030303;
  --secondary-color: #212121;
  --inverted-primary-color: #f3f6f9;
  --inverted-secondary-color: #ebecef;
}
