.switcher {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--inverted-bg-color);
    border-radius: 8px 0 0 8px;
}