.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  position: fixed;
  z-index: 100;
  top: 140px;
  right: -100%;
  width: 160px;
  padding: 15px;
  border-radius: 8px 0 0 8px;
  border: 1px solid var(--color-bg-border);
  background-color: var(--color-bg-default);
  transition: all 0.3s ease-in-out;

  &.open {
    right: 0;
    transition: all 0.3s ease-in-out;
  }
}

.button {
  position: fixed;
  top: 90px;
  right: 0;
  z-index: 100;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px 0 0 8px;

  &:hover svg {
    transform: rotate(180deg);
  }
}
