@import "../variables/global";
@import "../reset";
@import "../themes/normal";
@import "../themes/dark";

.app.dark {
  --bg-color: #262626;
  --inverted-bg-color: #f5f5f5;
  --primary-color: #f3f6f9;
  --secondary-color: #ebecef;
  --inverted-primary-color: #030303;
  --inverted-secondary-color: #212121;
}

.app.light {
  --bg-color: #f5f5f5;
  --inverted-bg-color: #262626;
  --primary-color: #030303;
  --secondary-color: #212121;
  --inverted-primary-color: #f3f6f9;
  --inverted-secondary-color: #ebecef;
}

.app {
  font: var(--font-m);
  color: var(--primary-color);
  background-color: var(--bg-color);
  min-height: 100vh;
  transition: all 0.3s ease;
}

.storybook-loader-class {
  width: 30px;
  height: 30px;
}
